<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Columna 1 -->
        <div class="col-md-4">
          <h3>Extreme Adventure Academy</h3>
          <p>Creando experiencias únicas para todos nuestos alumnos. ¡Gracias por elegirnos!</p>
        </div>
  
        <!-- Columna 2 -->
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
            <li><a href="#" class="text-white text-decoration-none">Proceso de compra</a></li>
            <li><a href="#" class="text-white text-decoration-none">Fechas y Precios</a></li>
            <li><a href="#" class="text-white text-decoration-none">Reglas</a></li>
          </ul>
        </div>
  
        <!-- Columna 3 -->
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone-fill"></i> +569 87220040</li>
            <li><i class="bi bi-envelope-fill"></i> extremeadventureacademy&#64;gmail.com/li>
            <li><i class="bi bi-geo-alt-fill"></i> Pucon, Chile</li>
          </ul>
        </div>
      </div>
  
      <hr class="my-3" />
  
      <div class="text-center">
        <p>&copy; 2024 Extreme Adventure Academy. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  