<div class="my-courses-container">
    <!-- Barra lateral -->
  
    <!-- Contenido principal -->
    <div class="courses-container">
      <h2 class="title">Mis Cursos</h2>
      <div class="courses-grid">
        <div class="card course-card" *ngFor="let course of courses">
          <div class="card-body">
            <h5 class="card-title">Curso</h5>
            <p><strong>Fecha de inicio:</strong> {{ course.fechaInicio }}</p>
            <p><strong>Fecha de término:</strong> {{ course.fechaTermino }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  