.register-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 40px 20px;
}

/* Imagen de fondo con degradado */
.background-image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  z-index: -1;
}


.logo {
  position: absolute; /* Posiciona el logo en la parte superior izquierda */
  top: 20px; /* Margen superior */
  left: 20px; /* Margen izquierdo */
  width: 300px; /* Ancho del logo */
  height: auto; /* Mantiene la proporción de la imagen */
  z-index: 2; /* Coloca el logo encima del fondo */
}

.card {
  z-index: 1; /* Coloca el formulario sobre la imagen */
  width: 100%;
  max-width: 350px; /* Reduce el ancho máximo en pantallas pequeñas */
  border-radius: 15px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo claro */
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para mayor profundidad */
  padding: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .register-container {
    padding: 50px 30px; /* Más espacio interno */
  }

  .card {
    max-width: 90%; /* Reduce el tamaño máximo del formulario */
    padding: 20px; /* Mantiene un padding interno consistente */
  }

  .logo {
    top: 10px; /* Ajusta la posición superior */
    left: 10px; /* Ajusta la posición izquierda */
    width: 80px; /* Reduce el tamaño del logo */
  }
}
