<div class="register-container d-flex justify-content-center align-items-center">
  <img src="assets/campamento_de_verano.jpg" alt="Campamento de Verano" class="background-image" />
  <div class="background-overlay"></div>
  <img src="assets/logo1.png" alt="Logo" class="logo" />

  <div class="card shadow p-4">
    <h2 class="text-center text-primary mb-4">Register</h2>
    <form (ngSubmit)="onRegister()">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" id="firstName" class="form-control" placeholder="Enter your first name" [(ngModel)]="firstName" name="firstName" required />
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" id="lastName" class="form-control" placeholder="Enter your last name" [(ngModel)]="lastName" name="lastName" required />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" placeholder="example@gmail.com" [(ngModel)]="email" name="email" required />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter your password" [(ngModel)]="password" name="password" required />
      </div>

      <button type="submit" class="btn btn-primary w-100 mb-2" [disabled]="!isFormValid()">Register</button>
    </form>

    <button type="button" class="btn btn-outline-secondary w-100" (click)="goHome()">Volver a Home</button>
  </div>
</div>

<!-- Modal de éxito -->
<div class="modal" tabindex="-1" [ngClass]="{'d-block': showModal}" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Usuario creado correctamente</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¡El usuario se ha registrado correctamente! Por favor, vuelve a la página de inicio.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="goHome()">Volver a Home</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
